.signin-section{
    padding: 159px 0px 1px 0px;
   background-image: linear-gradient(to right, rgba(44, 44, 112, 0.5) , rgba(44, 44, 112, 0.5)),url(../../assets/bg-box.png);
   background-repeat: no-repeat;
   background-size: cover;
}
.signin-form-row {
    justify-content: center;
    margin-bottom: 92px;
}
.siginheading{
    padding-top: 10px;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 600;
    color: rgba(77, 77, 77, 1);
}
.padded-signin-wrapper {
    padding: 61px 34px 74px 34px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1.5rem;
}
.loginbtndv{
    margin-top: 60px;
}
.signinbtn{
    display: inline-block;
    background-color: #fd8c00;
    color: #fff;
    font-size: 22px;
    border-radius: 7px;
    font-weight: 700;
    font-family: 'Noto Sans JP', sans-serif;
    cursor: pointer;
    padding: 18px 138px;
    transition: all .4s;
}
.signin-footer-rights{
    font-family: 'Noto Sans JP', sans-serif;
    text-align: center;
    color: #fff;
    font-size: 14px;
    margin: 48px 0px;
}
.text-righ {
    display: flex !important;
    justify-content: flex-end;
    width: 100%;
    padding-right: 2rem;
  }
  .text-righ span{
    cursor: pointer;
    position: relative;
    bottom: 3.7rem;
    right: 0rem;
  }
  

@media (max-width:760px){
 
    .signinbtn{
        width: 100%;
        padding: 16px 88px !important;
    }
    .padded-signin-wrapper {
        padding: 61px 0px 74px 0px !important;
    }
}
.loginbtdv input{
    border: none;
}
.alert-danger{
    width: 80%;
    margin: auto;
}
.forgotpassword{
    font-size: 14px;
    text-align: right;
}
.signinalertmssg{
    text-align: center;
    width: 100%;
}
.signuprgqt{
    font-size: 14px;
    font-weight: 500;
    color: #999999;
    text-align: center;
    margin-bottom: 0px;
}
.signuprgqt>span{
    color: #fd8c00;
}